.account:hover{
  background:#3262f3;

}
.account{
  background:#4f77f2;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.form-signin{
  width: 80%;
}

@media only screen and (min-width: 640px) {
  .form-signin{
    width: 80%;
  }

}

@media only screen and (min-width: 768px) {
  .form-signin{
    width: 80%;
  }

}

@media only screen and (min-width: 1024px) {
  .form-signin{
    width: 50%;
  }

}

@media only screen and (min-width: 1280px) {
  .form-signin{
    width: 30%;
  }

}

@media only screen and (min-width: 1536px) {
  .form-signin{
    width: 30%;
  }

}

